*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
}
#main #page1
{
    background-image: url("");
    height: 100vh;
    width: 100%;
    background-color: #C4BDB3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#main #page1 div{
    
    height: 55%;
    width: 27%;
    background-color: black;
    display: flex;
}
#main #page1 div form{
    width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}
#main #page1 div form h1{
    font-family: Editorial New Light;
    color: #C4BDB3;
    font-size: 32px;
    font-weight: 1000;
    margin-bottom: 6%;
    /* margin-top: 10%; */
}
#main #page1 div form #input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#main #page1 div form #input #inp1{
    position: relative;
    width:130%;
    font-size: 22px;
    border: none;
    border-bottom: 3px solid white;
    background-color: black;
    color: #C4BDB3;
    outline: none;
    } 
    #main #page1 div form #input #inp2{
    margin-top: 6%;
    width:130%;
    font-size: 22px;
    border: none;
    color: #C4BDB3;
    border-bottom: 3px solid white;
    background-color: black; 
    outline: none;
}
#main #page1 div form #input span{
    font-size: 20;
    margin-top: 10%;
    font-family: Editorial New Light;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(63, 63, 238);
}
#main #page1 div form #input #loginBtn{
    font-family: Editorial New Light;
    color: black;
    background-color: #C4BDB3;
    font-size: 28px;
    font-weight: 700;
    margin-top: 10%;
    padding: 2% 48%;
    cursor: pointer;
    border-radius: 20px;
    font-family: Editorial New Light;
}
#main #page1 div form #input #loginBtn:hover{
    color: #C4BDB3;
    border: 2px solid  white;
    background-color: black;
    transition: all .3s ease-in-out;
    }
#main #page1 div form #p1{
    display: flex;
    color: wheat;
    font-size: 16;
    margin-top: 5%;
    color: #C4BDB3;
}
 #main #page1 div form #p1 span a{
    color: rgb(68, 68, 237);
    letter-spacing: 1px;
    font-family: Editorial New Light;
    font-size: 20px;
    font-weight: 700;
}
